.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.btn {
  background-color: #6a0dad; /* Dark purple */
  color: #fff; /* White text */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #8b3cbc; /* Light purple on hover */
}
#mainimg:hover{
  animation: float 4s ease-in-out infinite;
}
#mainimg{
  transition:all 2s;
}
/*#backg{
  animation: float 4s ease-in infinite;
}*/

@keyframes float{
  0%{
    transform:translateY(10px);
  }
  50%{
    transform: translateX(-10px);
  }
  100%{
    transform:translateY(10px);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn1 {
  background-color: lightgrey;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn1:focus{
  background-color: navy;
}

.btn1:hover {
  background-color: navy;
}

.heading1{
  font-family: sans-serif;
  font-weight: bold;
  font-size:50px;
  color:navy;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-style: normal;
  padding-bottom:4px;
  
}

.price1 {
  background-color: navy;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.price1:hover {
  background-color: white;
  color: navy;
  border: 1px solid navy;
}

.texts1{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#image{
  cursor: pointer;
}
.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
